 
<!DOCTYPE html>
<html>
<head>
<script src="@Url.Content("~/Apps/Test/Scripts/JSTest.js")"></script>
    </head>
<body>
    <span>Hello World</span>
</body>
    </html>
<script>
    test();
</script>